#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Crea 10 columnas */
    grid-template-rows: repeat(10, 1fr);    /* Crea 10 filas */
    width: 500px; /* Asegura que el tablero sea visible */
    height: 500px; /* Asegura que el tablero tenga altura */
    border: 2px solid black; /* Para poder ver los límites del tablero */
}

.square {
    aspect-ratio: 1; /* Mantiene la relación cuadrada */
    border: 1px solid black;
}

.emptySquare {
    background-color: #6d71b5; /* Color de fondo de los cuadros vacíos */
}

.snakeSquare {
    background-color: #e3e773; /* Color de la serpiente */
}

.foodSquare {
    background-color: #55e7e7; /* Color de la comida */
}

.boardInfo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

#gameOver {
    display: none; /* Asegúrate de que esté oculto hasta que el juego termine */
}
