#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Crea 10 columnas */
    grid-template-rows: repeat(10, 1fr);    /* Crea 10 filas */
    width: 500px; /* Asegura que el tablero sea visible */
    height: 500px; /* Asegura que el tablero tenga altura */
    border: 2px solid black; /* Para poder ver los límites del tablero */
}

.square {
    aspect-ratio: 1; /* Mantiene la relación cuadrada */
    border: 1px solid black;
}

.emptySquare {
    background-color: #6d71b5; /* Color de fondo de los cuadros vacíos */
}

.snakeSquare {
    background-color: #e3e773; /* Color de la serpiente */
}

.foodSquare {
    background-color: #55e7e7; /* Color de la comida */
}

.boardInfo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

#gameOver {
    display: none; /* Asegúrate de que esté oculto hasta que el juego termine */
}
#start {
    background-color: #f35a69; /* Color de fondo del botón */
    border: none;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    cursor: pointer; /* Asegura que el cursor cambie cuando pasas sobre el botón */
    transition: background-color 0.3s; /* Transición para un efecto suave al pasar el cursor */
}

#start:disabled {
    background-color: #d1d1d1; /* Color de fondo cuando el botón está deshabilitado */
    color: #7a7a7a; /* Cambia el color del texto cuando está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor para mostrar que el botón no se puede usar */
    opacity: 0.5; /* Hace que el botón sea semi-transparente cuando está deshabilitado */
}
